<link href="/Public/Home/css/cost.css" rel="stylesheet" />
<script src="/Public/Home/js/cost.js"></script>
<div class="tac">
    <img class="benImg cost_img1" src="/Public/Home/images/cost_pic_01.jpg" />
    <div class="cost_div1"><!--933*1000中间部分-->
        <div class="cost_div2"><!--665*1000上-->
            <div class="cost_div4"><!--665*200上右-->
                <!--125*200-->
                <img class="cost_img2" src="/Public/Home/images/cost_pic_02.jpg" />
                <ul class="cost_ul1"><!--240*200-->
                    <li id="cost_li1" onclick="costli(1)">热门咨询&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></li>
                    <li id="cost_li2" onclick="costli(2)" style="color: rgb(153, 108, 51); background: rgb(255, 251, 245);">赴美费用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></li>
                    <li id="cost_li3" onclick="costli(3)">赴美准备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></li>
                    <li id="cost_li4" onclick="costli(4)">赴美攻略&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></li>
                </ul>
                <img class="cost_img3" src="/Public/Home/images/cost_pic_07.jpg"/>
            </div>
            <div class="cost_div5"><!--665*790上左-->
                <div class="cost_div6"><!--40*790-->
                    <p id="cost_p1">当前位置：赴美费用</p>
                </div>
                <div class="cost_div7"><!--604*790--></div>
            </div>
        </div>
        <div class="cost_div3">
            <!--245*1000下-->
        </div>
    </div>

</div>