<script>
    require(['jquery','excoloSlider','public'],
            function (j,e,p) {
                p.superiority();
            });
</script>
<div class="ben_main">
    <div class="main_img tac">
        <img src="/Public/Mobile/images/ben_pic_01.jpg" />
    </div>
    <div class="main_con">
        <div class="con_box">
            <span class="title t1"></span>
            <dl>
                <dt>
                    <img src="/Public/Mobile/images/ben_con_01.jpg" />
                </dt>
                <dd>
                    <h2></h2>
                    <p></p>
                </dd>
            </dl>
        </div>
    </div>
</div>