<link href="/Public/Home/css/plugin/animate/animate.min.css" rel="stylesheet">
<script src=""></script>
<div id="dowebok" class="fullpage-wrapper">
    <div class="section">
        <div class="bg" style=" visibility: visible; background-image:url(/Public/Home/images/home_01_bg.jpg)"></div>
        <div class="main_content v1">
            <img class="am_con home1 bounceInLeft animated" src="/Public/Home/images/home_01_t1.png" />
            <img class="am_con home2 bounceInLeft animated" src="/Public/Home/images/home_01_t2.png" />
            <img class="list one" data-original="" src="/Public/Home/images/home_01_l.png" />
        </div>
        <div class="ft">
            <div class="ft_content"></div>
        </div>
    </div>
    <div class="section">
        <div class="bg" style=" visibility: visible; background-image:url(/Public/Home/images/home_02_bg.jpg)"></div>
        <div class="main_content v2">

            <img class="list two" data-original="" src="/Public/Home/images/home_02_l.png" />
        </div>
        <div class="ft">
            <div class="ft_content"></div>
        </div>
    </div>
    <div class="section">
        <div class="bg"  style=" visibility: visible; background-image:url(/Public/Home/images/home_03_bg.jpg)"></div>
        <div class="main_content v3">
            <img class="list three" data-original="" src="/Public/Home/images/home_03_l.png" />
        </div>
        <div class="ft">
            <div class="ft_content"></div>
        </div>
    </div>
    <div class="section">
        <div class="bg" style=" visibility: visible; background-image:url(/Public/Home/images/home_04_bg.jpg)"></div>
        <div class="main_content v4">
            <img class="list four" data-original="" src="/Public/Home/images/home_04_l.png" />
        </div>
        <div class="ft">
            <div class="ft_content"></div>
        </div>
    </div>
</div>
