<link href="/Public/Home/css/plugin/animate/animate.min.css" rel="stylesheet">

<div id="dowebok" class="fullpage-wrapper">
    <div class="section">
        <div class="bg" style=" visibility: visible; background-image:url(/Public/Home/images/home_01_bg.jpg);"></div>
        <div class="main_content v1">
            <img class="am_con am1_1 animated" src="/Public/Home/images/home_01_t1.png" />
            <img class="am_con am1_2 animated" src="/Public/Home/images/home_01_t2.png" />
            <img class="list one" data-original="" src="/Public/Home/images/home_01_l.png" />
        </div>
    </div>
    <div class="section">
        <div class="bg" style=" visibility: visible; background-image:url(/Public/Home/images/home_02_bg.jpg);"></div>
        <div class="main_content v2 pr">
            <div class="txt_box animated" style="background: url(/Public/Home/images/home_02_t1.png) no-repeat;  display: none;">
                <img class="am_con am2_2 l55 animated" src="/Public/Home/images/home_02_t2.png"/>
                <img class="am_con am2_3 l55 animated" src="/Public/Home/images/home_02_t3.png"/>
                <img class="am_con am2_4 l55 animated" src="/Public/Home/images/home_02_t4.png"/>
            </div>
        </div>
        <img class="list two" data-original="" src="/Public/Home/images/home_02_l.png" />

    </div>
    <div class="section">
        <div class="bg"  style=" visibility: visible; background-image:url(/Public/Home/images/home_03_bg.jpg);"></div>
        <div class="main_content v3 pr">
            <div class="txt_box animated" style="background: url(/Public/Home/images/home_03_t1.png) no-repeat;  display: none;">
                <img class="am_con am3_1 t120 animated" src="/Public/Home/images/home_03_t2.png"/>
                <img class="am_con am3_2 t120 animated" src="/Public/Home/images/home_03_t3.png"/>
                <img class="am_con am3_3 t120 animated" src="/Public/Home/images/home_03_t4.png"/>
            </div>
        </div>
        <img class="list three" data-original="" src="/Public/Home/images/home_03_l.png" />

    </div>
    <div class="section">
        <div class="bg" style=" visibility: visible; background-image:url(/Public/Home/images/home_04_bg.jpg)"></div>
        <div class="main_content v4 pr">
            <div class="txt_box" style="background: url(/Public/Home/images/home_04_t_bg.png) no-repeat;">
                <img src="/Public/Home/images/home_04_t1.png">
                <p class="f_def f_20 f_wryh lh48">嘉美月子中心是中国和美国两地合法注册的直营机构</p>
                <div class="phone clearfix">
                    <div class="l_box fn-left">
                        <img class="icon_tel" src="/Public/Home/images/home_04_t2.png">
                    </div>
                    <div class="r_box fn-left ml15">
                        <p class="f_wryh">美国直拨电话：950-404-93054（按市话计费）</p>
                        <p class="f_wryh">国内咨询电话：023-66299210</p>
                    </div>
                </div>
                <div class="sp-line fn-left"></div>
                <div class="wechat fn-left">
                    <div class="l_box fn-left">
                        <img class="icon_tel" src="/Public/Home/images/home_04_t3.png">
                    </div>
                    <div class="r_box fn-left ml15">
                        <p class="f_wryh lh24">微信咨询：candy4231022</p>
                    </div>
                </div>
                <img class="ml30" src="/Public/Home/images/wx_code.jpg"/>
                <p class="ml10">（扫一扫，直接与美国主管沟通）</p>
            </div>
        </div>
        <img class="list four" data-original="" src="/Public/Home/images/home_04_l.png" />
        <div class="ft">
            <div class="ft_content">
                <ul>
                    <li><a href="#">嘉美首页</a></li>
                    <li><a href="#">月子中心</a></li>
                    <li><a href="#">动态咨询</a></li>
                    <li><a href="#">嘉美服务</a></li>
                    <li><a href="#">赴美指南</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">嘉瑞百合缘</a></li>
                </ul>
                <br />
                <p>地址：重庆市渝中区大坪正街118号嘉华鑫城A幢11-11  </p>
                <p>美国直拨热线：950-404-93054</p>
                <p>国内咨询电话：023-62299210</p>
                <p>重庆嘉美出国中介服务有限公司版权所有</p>
            </div>
        </div>
    </div>
</div>
<a id="gonext" class="go-next" href="javascript:;" ></a>