<body>
<div id="dowebok" class="fullpage-wrapper">
    <div class="section" style="background: red;">第一屏</div>
    <div class="section" style="background: gold;">第二屏</div>
    <div class="section">
        <div class="slide" style="background: salmon;">第三屏的第一屏</div>
        <div class="slide" style="background: aqua;">第三屏的第二屏</div>
        <div class="slide" style="background: steelblue;">第三屏的第三屏</div>
        <div class="slide" style="background: navajowhite;">第三屏的第四屏</div>
    </div>
    <div class="section" style="background: orchid;">第四屏</div>
</div>