@charset "utf-8";

.v1 .txt_box,.v2 .txt_box,.v3 .txt_box, .v4 .txt_box{
    display: block !important;
}
#dowebok .am_con{
    display: block !important;
}

.csslider1 > .cs_arrowprev > label:after,
.csslider1 > .cs_arrownext > label:after {
    line-height: 62px;
}
.csslider1 > .cs_play_pause > label:after {
    line-height: 60px;
}