<link href="/Public/Home/css/message.css" rel="stylesheet" />
<script>
    require(['jquery','plugin/jquery/lightbox-plus-jquery.min','plugin/jquery/imagesloaded.pkgd.min','plugin/jquery/masonry.pkgd.min','guide'],
            function (jquery,lightbox,imagesloaded,masonry,guide) {
                guide.loadMasonry();
            });
</script>
<div class="mes_main">
    <img class="mes_t_img" src="/Public/Home/images/mes_pic_01.jpg" />

    <div class="w1000 box">
        <div class="b_t clearfix">
            <span class="t_i fn-left"></span>
            <span class="t_t fn-right">晒一晒宝妈的休闲日子</span>
        </div>
        <div class="b_con masonry_box" id="masonry_box">
            <div class="masonry_item">

            </div>
        </div>
    </div>
</div>