<link href="/Public/Home/css/message.css" rel="stylesheet" />
<link href="/Public/Home/css/plugin/jquery/lightbox.min.css" rel="stylesheet" />
<script>
    requirejs( [
                'jquery',
                'masonry',
                'bridget',
                'lightbox',
                'public'

            ],
                function( $, Masonry, jQueryBridget,lightbox) {
                    jQueryBridget( 'masonry', Masonry, $ ,lightbox);
                   var $msnry = $('#masonry_box').masonry({
                        itemSelector: '.masonry_item',
                        gutter: 10,
                        resize:true
                    });
                    lightbox.option({
                        'alwaysShowNavOnTouchDevices': true,
                        'showImageNumberLabel': false
                    });
                    var page = 2;
                    var loading = false;
                    $(window).scroll(function(){
                        if($(document).scrollTop() > $(document).height() - $(window).height() - 500 && !loading){
                            $.ajax({
                                url: '/Home/Message/index',
                                type: 'post',
                                data: {page: page},
                                dataType: 'json',
                                beforeSend: function () {
                                    loading = true;
                                },
                                success: function (result) {
                                    if (result == "[]" || result == 'undefined') {
                                        loading = false;
                                        return false;
                                    } else {
                                        var html = "";
                                        for (var i in result) {
                                            html += '<div class="masonry_item" data-id="'+result[i].id+'"><a class="img_box example-image-link" href="' + result[i].original_url;
                                            html += '" data-lightbox="example-set" data-title="' + result[i].content;
                                            html += '"><img class="example-image" src="' + result[i].img;
                                            html += '"></a><h2 class="f_t f_size_14 lh28">' + result[i].name;
                                            html += '</h2><p class="f_c m10a lh20">' + result[i].content;
                                            html += '</p><p class="tar f_date">' + unix_to_datetime(result[i].time);
                                            html += '</p></div>';
                                        }
                                        var $newHtml = $(html).appendTo($msnry);
                                        setTimeout(function(){
                                            $msnry.masonry( 'appended', $newHtml ,'isAnimatedFromBottom');
                                        },800);

                                        page++;
                                        loading = false;
                                    }
                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    alert('错误：' + textStatus + "， 异常信息：" + errorThrown + "，请您刷新重试！");
                                    loading = false;
                                    return false;
                                }
                            })

                        }
                    });
    });
</script>
<div class="mes_main">
    <img class="mes_t_img" src="/Public/Home/images/mes_pic_01.jpg" />

    <div class="w1000 box">
        <div class="b_t clearfix">
            <span class="t_i fn-left"></span>
            <span class="t_t fn-right">晒一晒宝妈的休闲日子</span>
        </div>
        <div class="b_con masonry_box clearfix" id="masonry_box">
            <volist name="list" id="vo">
                <div class="masonry_item" data-id="{$vo['id']}"><a class="img_box example-image-link" href="{$vo['original_url']}" data-lightbox="example-set" data-title="今天去公园游玩四大你撒个i阿斯钢hi啊us合格i啊额噶圣诞阿萨德那时的感觉"><img class="example-image" src="{$vo['img']}"></a><h2 class="f_t f_size_14 lh28">{$vo['name']}</h2><p class="f_c m10a lh20">{$vo['content']}</p><p class="tar f_date">{$vo['time']|date='Y-m-d',###}</p></div>
            </volist>

        </div>
    </div>
</div>