<link href="/Public/Home/css/experience.css" rel="stylesheet"/>
<div class="max100 w100">
    <div class="exp_bg1">
        <div class="w1200 max100">
            <img class="exp_img" src="/Public/Home/images/exp_pic_01_t.png">
        </div>
    </div>
</div>
<div class="max100 w100 exp_bg2">
    <div class="w1200 max100 tac">
        <img class="exp_img" src="/Public/Home/images/exp_pic_02.png">
    </div>
</div>
<div class="max100 w100 exp_bg3">
    <div class="w1200 max100 tac">
        <img class="exp_img" src="/Public/Home/images/exp_pic_03.png">
    </div>
</div>
<div class="exp_bg4">
    <div class="w1200 max100 tac">
        <img class="exp_img" src="/Public/Home/images/exp_pic_04_t.png" style="margin: 8% 0;">
    </div>
</div>
<div class="max100 w100 exp_bg5">
    <div class="w1200 max100 tac">
        <img class="exp_img" src="/Public/Home/images/exp_pic_05.png" style="margin-top: -235px;">
    </div>
</div>
<div class="exp_bg6">
    <div class="w1200 max100 tac">
        <img class="exp_img" src="/Public/Home/images/exp_pic_06.png" style="margin: 10% 0;">
    </div>
</div>