<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">新增文章</h3>
    </div><!-- /.box-header -->
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{:U('News/save')}">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" placeholder="标题">
            </div>
        </div>
        <div class="form-group">
            <label for="file-4" class="col-sm-2 control-label">图标</label>
            <div class="col-sm-10">
                <input id="file-4" type="file" name="news_icon_url" class="file" value="" data-upload-url="{:U('File/upload')}">
            </div>
        </div>
        <div class="form-group">
            <label for="news_type_id" class="col-sm-2 control-label">类型:</label>
            <div class="col-sm-10">
                <select class="form-control" id="news_type_id" name="news_type_id">
                    <option value="1">关于我们</option>
                    <option value="2">最新通告</option>
                    <option value="3">行业资讯</option>
                    <option value="4">嘉美服务</option>
                    <option value="5">赴美流程</option>
                    <option value="6">赴美攻略</option>
                    <option value="7">赴美益处</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">内容:</label>
            <div class="col-sm-10">
                <script src="/Public/Admin/plugins/ckeditor/ckeditor.js"></script>
                <textarea rows="30" cols="50" id="content" name="content"></textarea>
                <script type="text/javascript">CKEDITOR.replace('content');</script>
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">状态:</label>
            <div class="col-sm-10">
                <label><input type="radio" class="form-" name="status" value="1" checked="checked" />正常</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="radio" class="form-" name="status" value="2" />屏蔽</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>


</div>

