<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">新增文章</h3>
    </div><!-- /.box-header -->
    <form class="form-horizontal" name="savenews" enctype="multipart/form-data" method="post" action="{:U('News/save')}">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="description" name="description" placeholder="请输入描述">
            </div>
        </div>
        <div class="form-group">
            <label for="file-4" class="col-sm-2 control-label">图标</label>
            <div class="col-sm-8">
                <input id="file-4" type="file" name="news_icon" class="file" data-upload-url="{:U('File/upload')}">
                <input id="file-4-value" name="news_icon_url" value="" type="hidden">
            </div>
        </div>
        <div class="form-group">
            <label for="news_type_id" class="col-sm-2 control-label">类型:</label>
            <div class="col-sm-8">
                <select class="form-control" id="news_type_id" name="news_type_id">
                    <option value="1">关于我们</option>
                    <option value="2">最新通告</option>
                    <option value="3">行业资讯</option>
                    <option value="4">嘉美服务</option>
                    <option value="5">赴美流程</option>
                    <option value="6">赴美攻略</option>
                    <option value="7">赴美益处</option>
                    <option value="8">医院医生</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">内容:</label>
            <div class="col-sm-8">
                <script type="text/javascript" charset="utf-8" src="/Public/Admin/plugins/ueedit/ueditor.config.js"></script>
                <script type="text/javascript" charset="utf-8" src="/Public/Admin/plugins/ueedit/ueditor.all.min.js"> </script>
                <script type="text/javascript" charset="utf-8" src="/Public/Admin/plugins/ueedit/lang/zh-cn/zh-cn.js"></script>
                <script src="/Public/Admin/plugins/ueedit/ueditor.all.min.js"></script>
                <!--<textarea rows="30" cols="50" id="content" name="content"></textarea>-->
                <script id="content" name="content" type="text/plain" style="width:1024px;height:500px;"></script>
                <script type="text/javascript"> var ue = UE.getEditor('content');</script>
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">状态:</label>
            <div class="col-sm-8">
                <label><input type="radio" class="form-" name="status" value="1" checked="checked" />正常</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="radio" class="form-" name="status" value="2" />屏蔽</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="button" class="btn btn-primary news-submit">Submit</button>
            </div>
        </div>
    </form>


</div>

