<!-- general form elements -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">修改文章</h3>
    </div><!-- /.box-header -->
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{:U('News/save')}">
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
                <input type="hidden" name="id" value="{$bean.id}" >
                <input type="text" class="form-control" id="title" name="title" value="{$bean.title}" placeholder="标题">
            </div>
        </div>
        <div class="form-group">
            <label for="news_icon_url" class="col-sm-2 control-label">图标</label>
            <div class="col-sm-10">
                <input type="file" class="form-file btn_upload" data-form-data='{"path": "./Public/Admin/dist/news_icon/"}' data-url="{:U('File/upload')}" id="news_icon_url" name="news_icon_url" value="{$bean.news_icon_url}" >
            </div>
        </div>
        <div class="form-group">
            <label for="news_type_id" class="col-sm-2 control-label">类型:</label>
            <div class="col-sm-10">
                <select class="form-control" id="news_type_id" name="news_type_id">
                    <option value="1" <if condition="$bean.news_type_id eq 1" >selected="selected"</if>>关于我们</option>
                    <option value="2" <if condition="$bean.news_type_id eq 2" >selected="selected"</if>>最新通告</option>
                    <option value="3" <if condition="$bean.news_type_id eq 3" >selected="selected"</if>>行业资讯</option>
                    <option value="4" <if condition="$bean.news_type_id eq 4" >selected="selected"</if>>嘉美服务</option>
                    <option value="5" <if condition="$bean.news_type_id eq 5" >selected="selected"</if>>赴美流程</option>
                    <option value="6" <if condition="$bean.news_type_id eq 6" >selected="selected"</if>>赴美攻略</option>
                    <option value="7" <if condition="$bean.news_type_id eq 7" >selected="selected"</if>>赴美益处</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">内容:</label>
            <div class="col-sm-10">
                <script src="/Public/Admin/plugins/ckeditor/ckeditor.js"></script>
                <textarea rows="30" cols="50" id="content" name="content">{$bean.content}</textarea>
                <script type="text/javascript">CKEDITOR.replace('content');</script>
            </div>
        </div>

        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">状态:</label>
            <div class="col-sm-10">
                <label><input type="radio" class="form-" name="status" value="1" <empty name="bean.status"><else /> checked="checked"</empty> />正常</label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label><input type="radio" class="form-" name="status" value="0" <empty name="bean.status"> checked="checked"<else /></empty>  />屏蔽</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>


</div>

