<link href="/Public/Home/css/synopsis.css" rel="stylesheet" />
<img class="syn_img" src="/Public/Home/images/syn_pic_01.jpg" />
<img class="syn_img" src="/Public/Home/images/syn_pic_02.jpg" />
<img class="syn_img" src="/Public/Home/images/syn_pic_03.jpg" />
<img class="syn_img" src="/Public/Home/images/syn_pic_04.jpg" />
<img class="syn_img" src="/Public/Home/images/syn_pic_05.jpg" />
<img class="syn_img" src="/Public/Home/images/syn_pic_06.jpg" />
<img class="syn_img" src="/Public/Home/images/syn_pic_07.jpg" />