<div style="background-image:url(/Public/Home/images/syn_pic_01.jpg); background-size: cover; width: 100%;height: 672px;"></div>
<div style="background-image:url(/Public/Home/images/syn_pic_02.jpg); background-size: cover; width: 100%;height: 672px;"></div>
<div style="background-image:url(/Public/Home/images/syn_pic_03.jpg); background-size: cover; width: 100%;height: 672px;"></div>
<div style="background-image:url(/Public/Home/images/syn_pic_04.jpg); background-size: cover; width: 100%;height: 672px;"></div>
<div style="background-image:url(/Public/Home/images/syn_pic_05.jpg); background-size: cover; width: 100%;height: 672px;"></div>
<div style="background-image:url(/Public/Home/images/syn_pic_06.jpg); background-size: cover; width: 100%;height: 672px;"></div>