<link href="/Public/Home/css/guide.css" rel="stylesheet" />
<link href="/Public/Home/css/plugin/jquery/lightbox.min.css" rel="stylesheet" />
<script>
    require(['jquery','guide'],
            function (jquery,guide) {
                guide.init();
            });
</script>
<div class="guide_main">
    <div class="slide_box">
        <img class="gui_img pr" src="/Public/Home/images/gui_pic_bg.jpg" />
    </div>

    <div class="w1000 det_main clearfix">

        <div class="d_t_box">
            <span class="d_t"></span>
            <div class="d_font">
                <p class="p1">
                    嘉美月子中心成立以来，与加州洛杉矶很多大医院以及多位知名医生都有过合作；众所周知美国的医疗设备，医疗技术都是世界一流的，所以要想到美国生子的宝妈们，您们想去什么样的医院嘉美都会按照您的要求给您联系好，并安排好医生；只是需要注意的是，美国的医院和医生都是提前预约的，除非是急诊。
                </p>
                <p class="p2 fwb">
                    这里重点要提醒一下宝妈们，当您计划要去美国生孩子的时候，在国内最好提前了解一下美国的医院，也可以委托嘉美提前帮您预约医院、医生，我们把预约单以邮箱的方式传给您，把它们打印好，这些资料在您去美国大使馆面签和过海关的时候都是有很大帮助的。
                </p>
            </div>
        </div>

        <div class="d_c_box clearfix">
           <div class="d_c_t clearfix">
               <div class="d_c_map fn-left">
                   <ul>
                       <li><a href="">首页</a></li>
                       <li><a href="">赴美生子优势</a></li>
                       <li><a href="">赴美生子费用</a></li>
                       <li><a href="">医院医生</a></li>
                       <li><a href="">长老教会医院</a></li>
                   </ul>
               </div>
               <div class="d_c_pageBtn fn-right">
                   <ul>
                       <li><a href="/Home/Guide/doctor">返回</a></li>
                       <if condition="$prevId">
                           <li><a href="/Home/Guide/details?id={$prevId}">上一篇</a></li>
                       </if>
                       <if condition="$nextId">
                            <li><a href="/Home/Guide/details?id={$nextId}">下一篇</a></li>
                       </if>
                   </ul>
               </div>
           </div>
            <div class="d_c_c">
                <div class="d_c_c_t">
                    <h2 class="title fwb">{$newsInfo.title}</h2>
                    <p class="d_c_f clearfix">
                        <span class="f_en fn-left fwb"></span>
                        <span class="f_author fn-right">发布者：{$newsInfo['author']?$newsInfo['author']:'嘉美月子中心'}</span>

                    </p>
                </div>
                {$newsInfo.content|html_entity_decode}
            </div>
        </div>
    </div>

</div>