<link href="/Public/Home/css/guide.css" rel="stylesheet" />
<link href="/Public/Home/css/plugin/jquery/lightbox.min.css" rel="stylesheet" />
<script>
    require(['jquery','guide'],
            function (jquery,guide) {
                guide.init();
            });
</script>
<div class="guide_main">
    <div class="slide_box">
        <img class="gui_img pr" src="/Public/Home/images/gui_pic_bg.jpg" />
    </div>

    <div class="gui_con clearfix">

        <include file="layout:left" />

        <div class="con_right clearfix">
            <div class="r_t_box">
                <span class="r_t_font">当前位置：医院医生</span>
            </div>
            <div class="r_content clearfix">
                <volist name="lists" id="vo" >
                    <dl>
                        <dt><a href="/Home/Guide/details?id={$vo.id}"><img src="{$vo.news_icon_url}"></a></dt>
                        <dd>
                            <h2><a class="dd_t" href="/Home/Guide/details?id={$vo.id}">{$vo.title}</a></h2>
                            <p class="dp">{$vo.description}</p>
                        </dd>
                    </dl>
                </volist>
            </div>
        </div>
        <div class="gui_bot clearfix">
            <span class="bot_t"></span>
            <div class="sp_line" style="width: 98%"></div>
            <div class="marquee_box">
                <ul>
                    <li>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_01_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_01.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_02_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_02.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_03_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_03.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_04_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_04.jpg" alt=""/></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>