<link href="/Public/Home/css/guide.css" rel="stylesheet" />
<link href="/Public/Home/css/plugin/jquery/lightbox.min.css" rel="stylesheet" />
<script>
    require(['jquery','guide'],
            function (jquery,guide) {
                guide.init();
            });
</script>
<div class="guide_main">
    <div class="slide_box">
        <img class="gui_img pr" src="/Public/Home/images/gui_pic_bg.jpg" />
    </div>

    <div class="gui_con clearfix">
        <div class="con_left clearfix">
            <div class="l_t_img"></div>
            <ul class="l_menu clearfix">
                <li><a href="javascript:;">热门资讯</a> <i></i> </li>
                <li class="on"><a href="javascript:;">赴美费用</a> <i></i> </li>
                <li><a href="javascript:;">赴美准备</a> <i></i> </li>
                <li><a href="javascript:;">赴美攻略</a> <i></i> </li>
            </ul>
            <div class="l_tell tac clearfix">
                <span class="tell_t"></span>
                <div class="sp_line"></div>
                <p><strong>美国直拨电话：</strong>950-404-93054</p>
                <p>（拨打时间：7:00-15:30）</p>
                <p><strong>国内咨询电话：</strong>023-66299210</p>
                <p><strong>美国微信咨询：</strong>candy4231022</p>
                <img class="m10" src="/Public/Home/images/cost_pic_06.jpg" />
                <p>（扫一扫，直接与美国主管沟通）</p>
            </div>
        </div>
        <div class="con_right clearfix">
            <div class="r_t_box">
                <span class="r_t_font">当前位置：赴美费用</span>
            </div>
            <div class="r_content">
                <img src="/Public/Home/images/gui_con_right_01.jpg" />
                <p>这几年，赴美生子的家庭越来越多，赴美生子费用也是大家关心的问题。</p>
                <p>在美国从事高端月子服务的嘉美告诉宝爸宝妈们：赴美生子的费用都在3-5万美金，当然这都要取决于你选择的档次。</p>
                <p>嘉美在此真诚提醒大家：切勿相信那些虚假宣传：10万人民币全包干生子；6万人民币给您一个美国宝宝；把他们的月子中心宣传得像天堂一样......其实不然！</p>
                <p class="imp fwb">嘉美郑重承诺:我们开创性推出一周试住期，如果您在试住期间不满意我们的服务，您可以选择离开，嘉美绝不会做出任何不礼貌的行为。</p>
            </div>
        </div>
        <div class="gui_bot clearfix">
             <span class="bot_t"></span>
             <div class="sp_line" style="width: 98%"></div>
            <div class="marquee_box">
                <ul>
                    <li>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_01_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_01.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_02_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_02.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_03_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_03.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_04_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_04.jpg" alt=""/></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>