<link href="/Public/Home/css/guide.css" rel="stylesheet" />
<link href="/Public/Home/css/plugin/jquery/lightbox.min.css" rel="stylesheet" />
<script>
    require(['jquery','guide'],
            function (jquery,guide) {
                guide.init();
            });
</script>
<div class="guide_main">
    <div class="slide_box">
        <img class="gui_img pr" src="/Public/Home/images/gui_pic_bg.jpg" />
    </div>

    <div class="gui_con clearfix">

        <include file="layout:left" />

        <div class="con_right clearfix">
            <div class="r_t_box">
                <span class="r_t_font">当前位置：赴美费用</span>
            </div>
            <div class="r_content">
                <img src="/Public/Home/images/gui_con_right_01.jpg" />
                <p>随着这几年赴美生子的家庭越来越多，赴美生子的费用也是宝爸宝妈们关心的问题。</p>
                <p>在美国从事高端月子服务的嘉美告诉宝爸宝妈们，赴美生子的费用一般都在3万美金至5万美金不等。当然这要取决于您选择的套餐，套餐不同价格也就有所不同。</p>
                <p>在这里嘉美要提醒宝爸宝妈们，切勿相信那些低价宣传，例如10万元人民币全包干、6万元给你一个美国宝宝等。这些其实都是他们的一种营销手段而已，把他们的月子中心宣传的像天堂一样，其实不然。当宝妈到达美国后才知道事实不是这样，并且与当初国内宣传有天壤之别！环境恶劣、生活条件差、服务不到位。更可怕的是，把您放在一般的民宿内，就不闻不问！宝妈们有不幸遭遇的，也有被遣返回国的。嘉美不是在这里说气话，而是我们亲眼目睹的一些事实！</p>
                <p>宝爸宝妈们一定要知道，在美国正规月子中心生小孩，以宝妈停留3至4个月计算，成本费至少需要3万美金以上。去过美国的人都知道，在美国物价并不算高，只要不买奢侈品，消费也不高。但是，美国的人工费和房租费是很高的。特别是这几年赴美生子的家庭越来越多，这就提高了专业月嫂、妈咪的工资待遇。就拿月嫂来说，专业月嫂的月薪基本上都在3000至5000美金左右，且不算厨师和司机的费用。所以，10万元（人民币）包干、6万元（人民币）生个美国宝宝之类的宣传是不可信的，更是不可靠的！</p>
                <p>嘉美提醒宝爸宝妈们，选择赴美生子时，一定要选择正规月子中心，不要因为只关注价格便宜不关注质量效果而后追悔莫及。</p>
                <p class="imp fwb">嘉美一直承诺：我们开创性推出一周试住期，如果您在试住期间不满意我们的服务，您可以选择离开，嘉美绝不做出任何不礼貌的行为（试住期间我们只按套餐费用的平均日费进行结算即可）。</p>
                <p>最后嘉美祝愿所有赴美生子的宝爸宝妈们幸福快乐，所有宝宝健康成长。</p>
            </div>
        </div>
        <div class="gui_bot clearfix">
             <span class="bot_t"></span>
             <div class="sp_line" style="width: 98%"></div>
            <div class="marquee_box">
                <ul>
                    <li>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_01_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_01.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_02_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_02.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_03_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_03.jpg" alt=""/></a></div>
                        <div><a class="example-image-link" href="/Public/Home/images/gui_con_bot_04_big.jpg" data-lightbox="example-set" ><img class="example-image" src="/Public/Home/images/gui_con_bot_04.jpg" alt=""/></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>