<div class="footer ft" style="{$actUrl == 'Index' ? 'display:none' : ''}">
    <div class="ft_content">
        <div class="content fn-left mt10">
            <ul>
                <li><a href="#">嘉美首页</a></li>
                <li><a href="#">月子中心</a></li>
                <li><a href="#">动态咨询</a></li>
                <li><a href="#">嘉美服务</a></li>
                <li><a href="#">赴美指南</a></li>
                <li><a href="#">联系我们</a></li>
                <li><a href="#">嘉瑞百合缘</a></li>
            </ul>
            <br />
            <p>地址：重庆市渝中区大坪正街118号嘉华鑫城A幢11-11  </p>
            <p>美国直拨热线：950-404-93054</p>
            <p>国内咨询电话：023-62299210</p>
            <p>重庆嘉美出国中介服务有限公司版权所有</p>
        </div>
        <div class="ft_wxcode fn-left mt10">
            <img src="/Public/Home/images/wx_code.jpg" height="110">
        </div>
    </div>

</div>
</body>
</html>