<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>嘉美月子</title>
<link href="/Public/Common/css/base.css" rel="stylesheet">
<link href="/Public/Home/css/index.css" rel="stylesheet">
<link href="/Public/Home/css/adaptive.css" rel="stylesheet">
<link href="/Public/Home/css/plugin/jquery/jquery.fullpage.min.css" rel="stylesheet">
<script src="/Public/Home/js/plugin/requirejs/require.js" data-main="/Public/Home/js/main.js"></script>
<!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
<script src="/Public/Common/js/css3-mediaqueries.js"></script>
<link href="/Public/Common/css/ie.css" rel="stylesheet">
<![endif]-->
<script>
    require(['jquery','index'],
            function (jquery,index) {
                index.headerMenu();
            });
</script>
</head>
<body>
<header class="home_header">
    <div class="header_menu">
        <div class="header_logo"></div>
        <div class="header_nav">
            <ul class="clearfix">
                <li><a class="nav_a {$actUrl == 'Index' ? 'on' : ''}" href="/Home/Index">首页</a></li>
                <li><a class="nav_a {$actUrl == 'Superiority' ? 'on' : ''}" href="/Home/Superiority">嘉美优势</a></li>
               <!-- <li>
                    <a class="nav_a <?php echo ($actUrl == 'Message' || $actUrl == 'Food' ? 'on' : ''); ?>" href="javascript:;">宝妈的一天</a>
                    <div class="nav_option">
                        <i class="o_x"></i>
                        <a class="o_a {$actUrl == 'Message' ? 'on' : ''}" href="/Home/Message">宝妈动态</a>
                        <a class="o_a {$actUrl == 'Food' ? 'on' : ''}" href="/Home/Food">今日膳食</a>
                    </div>
                </li>-->
                <li>
                    <a class="nav_a <?php echo ($actUrl == 'Benefit' || $actUrl == 'Guide' ? 'on' : ''); ?>" href="javascript:;">赴美生子优势</a>
                    <div class="nav_option">
                        <i class="o_x"></i>
                        <a class="o_a {$actUrl == 'Guide' ? 'on' : ''}" href="/Home/Guide">赴美生子费用</a>
                        <a class="o_a {$actUrl == 'Benefit' ? 'on' : ''}" href="/Home/Benefit">赴美生子优势</a>
                    </div>
                </li>
                <li><a class="nav_a {$actUrl == 'Synopsis' ? 'on' : ''}" href="/Home/Synopsis">关于嘉美</a></li>
                <li><a class="nav_a {$actUrl == 'Contact' ? 'on' : ''}" href="/Home/Contact">联系我们</a></li>
            </ul>
        </div>
        <div class="header_tell">
            <i class="icon_tell"></i>
            <span class="txt_tell">美国直拨电话： <span class="phone_tell">950-404-93054</span><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（拨打时间：7:30-15:30）</span>
        </div>
    </div>
</header>


