<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>嘉美月子</title>
</head>

<link href="/Public/Common/css/base.css" rel="stylesheet">
<link href="/Public/Home/css/plugin/jquery/jquery.fullpage.min.css" rel="stylesheet">
<script src="/Public/Home/js/plugin/requirejs/require.js" data-main="/Public/Home/js/main.js"></script>

<!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->



