<div class="con_left clearfix">
    <div class="l_t_img"></div>
    <ul class="l_menu clearfix">
        <li><a href="javascript:;">热门资讯<i></i></a>  </li>
        <li class="{$leftUrl == 'index' ? 'on' : ''}"><a href="/Home/Guide/index">赴美费用<i></i></a>  </li>
        <li class="{$leftUrl == 'doctor' ? 'on' : ''}"><a href="/Home/Guide/doctor">医院医生<i></i></a>  </li>
        <li><a href="javascript:;">赴美准备<i></i></a>  </li>
        <li><a href="javascript:;">赴美攻略<i></i></a>  </li>
    </ul>
    <div class="l_tell tac clearfix">
        <span class="tell_t"></span>
        <div class="sp_line"></div>
        <p><strong>美国直拨电话：</strong>950-404-93054</p>
        <p>（拨打时间：7:00-15:30）</p>
        <p><strong>国内咨询电话：</strong>023-66299210</p>
        <p><strong>美国微信咨询：</strong>candy4231022</p>
        <img class="m10" src="/Public/Home/images/cost_pic_06.jpg" />
        <p>（扫一扫，直接与美国主管沟通）</p>
    </div>
</div>