<div class="con_left clearfix">
    <div class="l_t_img"></div>
    <ul class="l_menu clearfix">
        <li class="{$leftUrl == 'index' ? 'on' : ''}"><a href="/Home/Package/index">入住环境<i></i></a></li>
        <li class="{$leftUrl == 'ordinary' ? 'on' : ''}"><a href="/Home/Package/ordinary">普通套房<i></i></a>  </li>
        <li class="{$leftUrl == 'big' ? 'on' : ''}"><a style="letter-spacing: 8px;" href="/Home/Package/big">大套房<i></i></a>  </li>
        <li class="{$leftUrl == 'vip' ? 'on' : ''}"><a href="/Home/Package/vip">VIP 套房<i></i></a>  </li>
    </ul>
    <div class="l_tell tac clearfix">
        <span class="tell_t"></span>
        <div class="sp_line"></div>
        <p><strong>美国直拨电话：</strong>950-404-93054</p>
        <p>（拨打时间：7:00-15:30）</p>
        <p><strong>国内咨询电话：</strong>023-66299210</p>
        <p><strong>美国微信咨询：</strong>candy4231022</p>
        <img class="m10" src="/Public/Home/images/cost_pic_06.jpg" />
        <p>（扫一扫，直接与美国主管沟通）</p>
    </div>
</div>