<div class="footer ft" style="{$actUrl == 'Index' ? 'display:none' : ''}">
    <div class="ft_content">
        <div class="content fn-left mt10">
            <ul>
                <li><a href="/Home/Index">嘉美首页</a></li>
                <li><a href="/Home/Superiority">嘉美优势</a></li>
                <li><a href="/Home/Guide">赴美指南</a></li>
                <li><a href="/Home/Synopsis">关于嘉美</a></li>
                <li><a href="/Home/Contact">联系我们</a></li>
                <li><a href="http://www.baihey.com" target="_blank">嘉瑞百合缘</a></li>
            </ul>
            <br />
            <p>地址：重庆市渝中区大坪正街118号嘉华鑫城A幢11-11  </p>
            <p>美国直拨热线：950-404-93054</p>
            <p>国内咨询电话：023-62299210</p>
            <p>渝ICP备16001265号-1</p>
            <p>重庆嘉美出国服务有限公司版权所有</p>
        </div>
        <div class="ft_wxcode fn-left mt10">
            <img src="/Public/Home/images/wx_code.jpg" height="110">
        </div>
    </div>

</div>
</body>
</html>