<link href="/Public/Home/css/experience.css" rel="stylesheet"/>
<link href="/Public/Home/css/guide.css" rel="stylesheet" />
<div class="max100 w100">
    <div class="exp_bg1">
        <div class="w1200 max100">
            <img class="exp_img" src="/Public/Home/images/exp_pic_01_t.png">
        </div>
    </div>
</div>
<div class="guide_main">

    <div class="gui_con clearfix">
        <include file="layout:pkgLeft" />

        <div class="con_right clearfix">
            <div class="pkg_r_t"></div>
            <div class="imgList index clearfix">
                <img class="" width="485" src="/Public/Home/images/pkg_index_01.jpg">
                <img class="ml10" width="291" src="/Public/Home/images/pkg_index_04.jpg">
                <img class="ml10 mt10" width="291" src="/Public/Home/images/pkg_index_03.jpg">
                <img class="mt10" width="289" src="/Public/Home/images/pkg_index_02.jpg">
                <img class="ml10 mt10" width="488" src="/Public/Home/images/pkg_index_05.jpg">
            </div>
        </div>
    </div>
</div>