<link href="/Public/Home/css/experience.css" rel="stylesheet"/>
<link href="/Public/Home/css/guide.css" rel="stylesheet" />
<div class="max100 w100">
    <div class="exp_bg1">
        <div class="w1200 max100">
            <img class="exp_img" src="/Public/Home/images/exp_pic_01_t.png">
        </div>
    </div>
</div>
<div class="guide_main">

    <div class="gui_con clearfix">
        <include file="layout:pkgLeft" />

        <div class="con_right clearfix">
            <div class="pkg_r_t"></div>
            <div class="imgList ord clearfix">
                <img class="ml10" width="457" src="/Public/Home/images/pkg_ord_02.jpg">
                <img class="" width="322" style="float: left" src="/Public/Home/images/pkg_ord_01.jpg">
                <img class="mt10" width="322" style="float: left" src="/Public/Home/images/pkg_ord_03.jpg">
                <img class="mt10" width="457" src="/Public/Home/images/pkg_ord_04.jpg">
                <img class="mt10" width="322" src="/Public/Home/images/pkg_ord_05.jpg" style="float: left">
            </div>
        </div>
    </div>
</div>