<link href="/Public/Home/css/superiority.css" rel="stylesheet"/>
<link href="/Public/Home/css/plugin/menu/component.css" rel="stylesheet"/>
<link href="/Public/Home/css/plugin/menu/default.css" rel="stylesheet"/>
<link href="/Public/Home/css/plugin/menu/normalize.css" rel="stylesheet"/>
<link href="/Public/Home/css/plugin/jquery/jquery.excoloSlider.css" rel="stylesheet"/>
<script>
    require(['jquery','extend','index'],
            function (jquery,extend,index) {
                index.loadImgSlider();
                index.loadMenu();
                index.anchor();
            });

</script>
<div class="sup_top_banner">
    <div class="w1200 max100">
        <img src="/Public/Home/images/sup_pic_01_c.png">
    </div>
</div>
<div class="max100 w100">
    <div class="w1200 max100">
        <img src="/Public/Home/images/sup_pic_02.png">
    </div>
</div>
<div class="max100 w100 mb30">
    <div class="w1200 max100 tac">
        <img src="/Public/Home/images/sup_pic_03.png">
    </div>
</div>
<div class="sup_img_list">
    <section class="section section--menu" id="Ceres">
        <nav class="menu menu--ceres">
            <ul class="menu__list">
                <li class="menu__item menu__item--current item1"><a  href="javascript:;" class="menu__link">环境优势</a></li>
                <li class="menu__item item2"><a href="javascript:;" class="menu__link">膳食优势</a></li>
                <li class="menu__item item3"><a href="javascript:;" class="menu__link">服务优势</a></li>
            </ul>
        </nav>
    </section>
    <div name="tar" id="slider_1" class="slider" style="display: block;" data-load="1">
        <img src="/Public/Home/images/hj_01.jpg"/>
        <img src="/Public/Home/images/hj_02.jpg"/>
        <img src="/Public/Home/images/hj_03.jpg"/>
    </div>
    <div id="slider_2" class="slider" data-load="0">
        <img src="/Public/Home/images/shanshi_01.jpg"/>
        <img src="/Public/Home/images/shanshi_02.jpg"/>
        <img src="/Public/Home/images/shanshi_03.jpg"/>
        <img src="/Public/Home/images/shanshi_04.jpg"/>
        <img src="/Public/Home/images/shanshi_05.jpg"/>
        <img src="/Public/Home/images/shanshi_06.jpg"/>
        <img src="/Public/Home/images/shanshi_07.jpg"/>
    </div>
    <div id="slider_3" class="slider" data-load="0">
        <img src="/Public/Home/images/fuwu_01.jpg"/>
        <img src="/Public/Home/images/fuwu_02.jpg"/>
    </div>
</div>
