<script>
</script>

<div class="sup_main">
    <div class="main_img tac">
        <img src="/Public/Mobile/images/sup_pic_01.jpg">
        <img class="mt30" src="/Public/Mobile/images/sup_pic_02.png">
        <img class="m30a" src="/Public/Mobile/images/sup_pic_03.png">
    </div>
    <div class="main_con">
        <div class="con_t">
            <ul class="clearfix">
                <li><a href="javascript:;" >环境优势</a> </li>
                <li>膳食优势</li>
                <li>服务优势</li>
            </ul>
        </div>
    </div>
</div>

</div>

