@charset "utf-8";
.benImg{
    width: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 99;
}
.cost_img1{
    margin-top: 100px;
}
.cost_img2{

}
.cost_img3{

}
.cost_div1{
    width: 1000px;
    height: 933px;
}
.cost_div2{
    width: 100%;
    height: 655px;
}
.cost_div3{
    width: 100%;
    height: 245px;
}
.cost_div4{
    float: left;
    width: 200px;
    height: 665px;
    margin-right: 10px;
}
.cost_div5{
    float: left;
    width: 790px;
    height: 665px;
}
.cost_div6{
    color: #996c33;
    background-color: #fffbf5;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 788px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    border: 1px solid #e9d6ba;
}
.cost_div7{
    float: left;
    width: 788px;
    height: 604px;
    border: 1px solid #e9d6ba;
}
.cost_ul1{
    color: white;
    width: 200px;
    height: 240px;
    margin-top: -4px;
    margin-bottom: 22px;
    background-color: #b38850;
}
.cost_ul1 li{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    cursor: pointer;
}