@charset "utf-8";
.home_header{
    position: relative;
}
.exp_bg1{
    background: url(/Public/Home/images/exp_pic_01_bg.jpg) no-repeat;
    width: 100%;
    height: 420px;
}
.exp_img{
    max-width: 100%;
    vertical-align: middle;
}
.exp_bg2{
    background: #fffbf6;
    padding: 80px 0;
}
.exp_bg3{
    background: #fff;
    padding: 80px 0;
}
.exp_bg4{
    background: url(/Public/Home/images/exp_pic_04_bg.jpg) no-repeat;
    width: 100%;
    height: 548px;
}

.exp_bg6{
    background: url(/Public/Home/images/exp_pic_06_bg.jpg) no-repeat;
    width: 100%;
    height: 651px;
    margin-top: -135px;
}
