@charset "utf-8";

.home_header{
    width: 100%;
    height: 100px;
    background: rgba(245,245,245,0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#f5f5f5,endcolorstr=#f5f5f5);  /* ie8 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    line-height: 100px;
}
.header_menu{
    width: 1200px; margin: 0 auto; height: 100%;
}
.header_menu .header_logo{
    background: url(/Public/Common/images/156x52_logo.png) no-repeat center;
    width: 156px;
    height: 100px;
    float: left;
    position: relative;
}

.header_menu .header_nav{
    float: left;
}
.header_menu .header_nav ul{

}
.header_menu .header_nav li{
    float: left;
    position: relative;
}
.nav_option{
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    border: 1px solid #cfcfcf;
    z-index: 999;
    background: #f2f3f4;
    display: none;
}
.nav_option .o_x{
    background: url(/Public/Home/images/o_x.jpg) no-repeat center;
    height: 10px;
    position: absolute;
    top: -10px;
    width: 100%;
}
.nav_option .o_a{
    font-size: 14px;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 10px;
    border-bottom: 1px solid #cfcfcf;
}
.nav_option .o_a:last-child{
    border-bottom: 0;
}
.nav_option .o_a:hover{
    text-decoration: none;
    color: #e4007f;
}

.header_menu .header_nav li .nav_a{
    color: #666;
    display: block;
    font-size: 16px;
    text-decoration: none;
    padding: 0 30px;
    font-weight: 700;
}
.header_menu .header_nav li .nav_a:hover{
  color: #e4007f;
}
.header_menu .header_nav li .nav_a:active{
    color: #e4007f;
    text-decoration: none;
}
.header_menu .header_nav li a.on{
    color: #e4007f;
}
.txt_tell{
    line-height: 18px;
}

.fullpage-wrapper .section{
    overflow: hidden;
    position: relative;
    z-index: 9;
}
.fullpage-wrapper .bg{
    left: 0;
    top: 0;
    position: absolute;
    z-index: 9;
}
.fullpage-wrapper .main_content,.ft .ft_content{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.fullpage-wrapper .section,.fullpage-wrapper .bg{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.list{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}
.header_tell{
    float: right;
}
.header_tell span{
    color: #e4007f;
}
.icon_tell{ 
    background: url(/Public/Home/images/home_icon_tell.png) no-repeat center;
    width: 24px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
}
.txt_tell{
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.phone_tell{
    font-weight: 700;
    font-size: 16px;
    font-family: "microsoft yahei";
    font-style: oblique;
}
.am_con{
    z-index: 10;
    position: relative;
    display: none;
}
.v1 .am_con{
    margin: 20px 10px;
}
.one{
    right: 2%;
    top: 6%;
    width: 49%;
}
.v1 .am1_1{
    width: 80%;
}
.v1 .am1_2{
    width: 60%;
}
.v1 .am1_3{
    width: 84%;
}
.v2{

}
.v1 .txt_box{
    height: 303px;
    top: 212px;
    width: 500px;
    z-index: 10;
}

.l55{
    left: 55px;
}
.v2 .am_con{
    margin: 15px 55px;
}
.v2 .am2_2{
    margin-top: 90px;
}
.v2 .am2_3{

}
.v2 .am2_4{

}
.v2 .txt_box{
    height: 263px;
    top: 212px;
    width: 570px;
    z-index: 10;
    cursor: pointer;
}

.two{
    height: 100%;
    width: auto;
}

.t120{
    top: 120px;
}
.v3 .am_con{
    margin: 0 9%;
}
.v3 .txt_box{
    height: 263px;
    top: 212px;
    width: 570px;
    z-index: 10;
}
.three{
    height: 100%;
    width: auto;
}
.v4 .am_con{

}
.v4 .txt_box{
    height: 510px;
    padding: 2% 0 0 2%;
    top: 20%;
    width: 576px;
    z-index: 10;
}
.four{
    bottom: 0;
    height: 100%;
    top: auto;
    width: auto;
}
.v4 .txt_box .phone{
    margin: 20px 0;
}
.v4 .txt_box .phone .icon_tel{

}
.v4 .txt_box .l_box{
    width: 50px;
    border-right: 1px solid #000000;
}
.v4 .txt_box .r_box{
    width: 360px;
}
.v4 .txt_box .r_box p{
    font-size: 13px;
}
.sp-line{
    border-top: 1px dashed #333;
    height: 1px;
    width: 100%;
}
.v4 .txt_box .wechat{
    margin: 20px 0;
}


.go-next{
    bottom: 5%;
    cursor: pointer;
    display: block;
    height: 28px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 52px;
    z-index: 99;
    background: url(/Public/Home/images/gonext.png) no-repeat;
}

.ft{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 16.5%;
    background: #333333;
    z-index: 99;
}
.ft .ft_content{
    color: #fff;
}
.ft .ft_content ul{
    float: left;
}
.ft .ft_content ul li{
    float: left;
    border-right: 1px solid #fff;
    padding: 0 10px;
}
.ft .ft_content ul li:last-child{
    border-right: 0;
}
.ft .ft_content ul li a{
    color: #fff;
}
.ft .ft_content ul li a:hover{
    color: #e4007f;
}
.ft .ft_content p{
    line-height: 20px;
    padding-left: 10px;
}

/* 通用标准底部 */
.footer{
   height: 130px;
    position: relative;
}

.footer .ft_content{

}
.footer .ft_content .content{
    margin: 0;
    padding: 0;
}
.ft_wxcode{
    border-left: 1px solid #fff;
    padding-left: 40px;
}