<link href="/Public/Mobile/css/jquery.fullpage.min.css" rel="stylesheet">
<script>
    require(['jquery','fullpage','public'],
            function (j,f,p) {
                p.index();
            });
</script>
<div id="dowebok" class="fullpage-wrapper">
    <div class="section">
       <div class="bg_1 bg tac">
           <img class="pic_1 pic" src="/Public/Mobile/images/index_pic_01.png" />
       </div>
    </div>
    <div class="section" style="display: none;">
        <div class="bg_2 bg">
            <img class="pic_2 pic" src="/Public/Mobile/images/index_pic_02.png" />
        </div>
    </div>
    <div class="section" style="display: none;">
        <div class="bg_3 bg">
            <img class="pic_3 pic" src="/Public/Mobile/images/index_pic_03.png" />
        </div>
    </div>
    <div class="section" style="display: none;">
        <div class="bg_4 bg">
            <img class="pic_4 pic" src="/Public/Mobile/images/index_pic_04.png" />
        </div>
      </div>

</div>
</div>