<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">图片列表</h3>

                </div><!-- /.box-header -->
                <div class="alert alert-success" role="alert" style="display: none">...</div>
                <div class="alert alert-danger" role="alert" style="display: none">...</div>
                <form action="{:U('Images/editIamgesTime')}" method="post" name="editIamgesTime">
                <div class="box-fun">
                    <input size="16" type="text" name="time" value="" readonly class="form_datetime">
                    <a href="javascript:;" class="btn btn-success imgtime-submit">时间修改</a>
                    <a href="{:U('add')}" class="btn btn-success">添加图片</a>
                </div>
                <div class="box-body">
                    <table class="table dataTabes table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center"><input class="checkall" type="checkbox"></th>
                            <th class="text-center">id</th>
                            <th class="text-center">分类</th>
                            <th class="text-center">标题</th>
                            <th class="text-center">日期</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="lists" id="vo">
                            <tr>
                                <td class="text-center"><input class="check" type="checkbox" name="id[]" value="{$vo.id}"></td>
                                <td class="text-center">{$vo.id}</td>
                                <td class="text-center">{$vo.type_id|getImagesTypeName}</td>
                                <td class="text-center">{$vo.name}</td>
                                <td class="text-center">{$vo.time|date='Y-m-d',###}</td>
                                <td class="text-center">{$vo.status|getImagesStatus}</td>
                                <td class="text-center">
                                    <a href="{:U('Images/save','id='.$vo['id'])}"><button type="button" class="btn btn-primary">编辑</button></a>
                                    <button type="button" data-url="{:U('del','id='.$vo['id'].'&table=images')}" class="btn btn-danger btn_del">删除</button>
                                </td>
                            </tr>

                        </volist>

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
<!-- Bootstrap-DateTime Picker -->
<link rel="stylesheet" href="/Public/Admin/plugins/datepicker/datepicker3.css">
<script src="/Public/Admin/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- datepicker -->
<script src="/Public/Admin/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/Public/Admin/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script type="text/javascript">
    var timestamp = (new Date()).valueOf();
    var date = new Date(timestamp);
    var Y = date.getFullYear()+'-';
    var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
    var D = date.getDate() < 10 ? '0'+date.getDate() : date.getDate();
    $('.form_datetime').val(Y+M+D);
    $(".form_datetime").datepicker({
        format: "yyyy-mm-dd",
        todayBtn: "linked",
        clearBtn: true,
        language: "zh-CN",
        keyboardNavigation: false,
        todayHighlight: true
    });
    $('.checkall').click(function() {
        if($('table').find('input[type="checkbox"]').prop('checked')) {
            $('table').find('input[type="checkbox"]').prop('checked',true);
        }else{
            $('table').find('input[type="checkbox"]').prop('checked',false);
        }
    });
    //图片时间修改提交验证
    $('.imgtime-submit').click(function() {
        var form = $(document.editIamgesTime);
        var sum = $('.check').length;
        var sub = false;
        for(var i=0; i<sum; i++) {
            if($('input[type="checkbox"]')[i].checked) {
                sub = true;
            }
        }

        if(sub) {
            form.submit();
        }
    });
</script>